.ListViewContainer {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
  padding-left: 25px;
}

.HeaderContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.Heading {
  font-size: 26px;
  margin: 0;
}

.AddButton {
  width: 200px;
  height: 20px;
}
