$primary-font: 'Montserrat', sans-serif;

// $main-bg-color: #d3d5da;
$main-bg-color: #f2f1f6;
$header-bg-color: #1d1d1d;
$link-header-bg-color: #393939;

$text-color: #5b5b5b;
$header-heading: #ffffff;
$hover-link-color: #bbbbbb;

$box-shadow-color: 5px 10px 30px rgba(0, 0, 0, 0.05);
$border-color: #c1c1c1;
$border-focus-color: #87d78b;

$btn-color: #3c9c41;
$btn-hover-color: #4db252;
$btn-pressed-color: #318636;

$desktop: 1280px;
$tablet: 720px;
$mobile: 320px;
