@import './variables';

body {
  margin: 0;
  background-color: $main-bg-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: $primary-font;
}

p {
  margin-top: 0;
  font-family: $primary-font;
}

li {
  list-style: none;
  font-family: $primary-font;
}

a {
  text-decoration: none;
  font-family: $primary-font;

  &:hover {
    color: $hover-link-color;
  }
}

ul {
  padding: 0;
  margin: 0;
}
