@import '../../styles/variables';

.TodoFilter {
  width: 500px;

  @media screen and (max-width: $desktop) {
    width: 330px;
  }
  @media screen and (max-width: $tablet) {
    width: 200px;
  }
}

.TodoFilterInput {
  width: 100%;
  padding: 10px 10px 10px 25px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  background-image: url('./icon-search.svg');
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 5px;
}
