@import '../../styles/variables';

.IconButton {
  margin: 0;
  border: none;
  background-color: inherit;
  fill: black;
  font: inherit;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}
